Sabor Nordestino/estoquista_sabor_nordestino.json
{
  "name": "estoquista_sabor_nordestino",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y",
          "mode": "list",
          "cachedResultName": "Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 554203241,
          "mode": "list",
          "cachedResultName": "historico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit#gid=554203241"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8dadc67d-e8ac-4d09-a61d-3f6d49a7fc96",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kQbmPIF0EjpBxhT7",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "35e4b0f8-b425-41b7-bdc9-cb84f33dcd50",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aqxA43INUZ47RvJp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de logística. Sua única função é ler o texto de um pedido e extrair os itens e quantidades para baixa de estoque.\n\nTexto do Pedido: \"{{ $json[\"ITENS DO PEDIDO\"] }}\"\n\nInstruções:\n1. Identifique cada item e sua quantidade (Ex: \"2x Coca\" = item: Coca, qtd: 2).\n2. Se não houver número explícito (Ex: \"Coca\"), assuma que a quantidade é 1.\n3. Padronize os nomes para serem compatíveis com uma lista de estoque (Ex: \"Coca Lata\" -> \"Coca-Cola Lata\").\n4. Retorne APENAS um JSON válido, sem markdown, sem ```json, sem explicações.\n\nFormato de Saída Obrigatório:\n[\n  { \"item\": \"Nome do Item\", \"qtd_vendida\": 1 },\n  { \"item\": \"Outro Item\", \"qtd_vendida\": 2 }\n]",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "256b6a97-acd3-42e3-aa7c-3cf22c998f90",
      "name": "estoquista"
    },
    {
      "parameters": {
        "jsCode": "let resultados = [];\n\n// Varre todos os pedidos que chegaram\nfor (const item of $input.all()) {\n  try {\n    // Pega o texto do LLM\n    let textoJson = item.json.text;\n    \n    // Limpeza de segurança (caso o LLM mande ```json no começo)\n    textoJson = textoJson.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n    \n    // Transforma texto em Objeto Real\n    let itens = JSON.parse(textoJson);\n    \n    // Adiciona na lista final\n    resultados.push(...itens);\n  } catch (erro) {\n    console.log(\"Erro ao ler JSON do LLM\");\n  }\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "b24b1482-8c94-486c-89bf-dad2030ddeba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y",
          "mode": "list",
          "cachedResultName": "Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701649227,
          "mode": "list",
          "cachedResultName": "estoque",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit#gid=1701649227"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ITEM",
              "lookupValue": "={{ $json.item }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        0
      ],
      "id": "e98389a9-53a5-4296-afe3-ca72744b7d41",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rWFrU8KI1XX8Zvcx",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c683429c-4b22-454b-a1d7-d4f9794ac05b",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ],
      "id": "828d679a-c8ac-4065-93e4-4db36fde7091",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y",
          "mode": "list",
          "cachedResultName": "Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701649227,
          "mode": "list",
          "cachedResultName": "estoque",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JJouIhWfx49Em9Qjq7YzSSQghLkbkUmlxLL0GPju1-Y/edit#gid=1701649227"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "QTD": "={{ $json.QTD - $('Code in JavaScript').item.json.qtd_vendida }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ITEM",
              "displayName": "ITEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QTD",
              "displayName": "QTD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        -96
      ],
      "id": "1d390521-dfcd-4f76-b1d9-de2f59b71634",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rWFrU8KI1XX8Zvcx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "estoquista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "estoquista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "estoquista": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1fd4b32-1d39-4c07-8c7d-3501a9b0bdad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17a1bcbff64c54509a7d62a869b103a09b320f3d86bc0fa4e80ba883b80b9600"
  },
  "id": "SZbioglKAD1Mmp7y",
  "tags": []
}